<nav class="hidden sm:flex items-center bg-[#021F1B] p-3 px-5 w-full z-20">
    <!-- Logo -->
    <img src="../assets/logo.png"
      class="w-[10%]">
  
    <!-- Menu Links -->
    <div class="text-white flex sm:space-x-10 flex-grow justify-end sm:pr-5 lg:pr-10">
      <a href="#" class="lg:text-[2rem] sm:text-[1.5rem] 2xl:text-[3rem] hover:text-gray-300 border border-white px-3 rounded">Menu</a>
      <a href="#" class="lg:text-[2rem] sm:text-[1.5rem]  2xl:text-[3rem] hover:text-gray-300">About us</a>
      <a href="#" class="lg:text-[2rem] sm:text-[1.5rem] 2xl:text-[3rem] hover:text-gray-300">Contact us</a>
    </div>
  
    <!-- PARTY Button -->
    <div>
      <a href="#" class="lg:text-[2.5rem] 2xl:text-[5rem] sm:text-[1.5rem]  px-5 text-[#021F1B] bg-white rounded font-bold">PARTY</a>
    </div>
  </nav>

  <app-home></app-home>
  